<template>
    <el-card>
        <template #header class="card-header">
            Challenge response time
        </template>
        <vue3-chart-js
            class="line-chart"
            ref="chartRef"
            :id="lineChart.id"
            :type="lineChart.type"
            :data="lineChart.data"
            :options="lineChart.options"/>
    </el-card>

</template>

<script>
// components
import Vue3ChartJs from '@j-t-mcc/vue3-chartjs';
// utils
import {ref} from 'vue';
import moment from 'moment';
import {store} from '../../store';

import * as MutationsTypes from '../../store/mutations/types';

moment.locale('en');

export default {
    name: "plotsTimeChart",
    setup() {
        const chartRef = ref(null);

        const lineChart = {
            id: 'plotsTimeChart',
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'plots check time',
                    data: [],
                    borderColor: '#3B82F6',
                    borderWidth: 2,
                    pointBackgroundColor: '#FFFFFF',
                    pointBorderColor: '#3B82F6',
                    pointBorderWidth: 2,
                    pointRadius: 0,
                    yAxisID: 'y'
                }, {
                    label: 'eligible plots',
                    data: [],
                    borderColor: '#6EE7B7',
                    backgroundColor: 'rgba(236, 253, 245, 0.5)',
                    borderWidth: 2,
                    pointBackgroundColor: '#FFFFFF',
                    pointBorderColor: '#6EE7B7',
                    pointBorderWidth: 2,
                    pointRadius: 0,
                    yAxisID: 'y1',
                    fill: true
                }, {
                    label: 'proofs',
                    data: [],
                    borderColor: '#F87171',
                    // backgroundColor: 'rgba(236, 253, 245, 0.5)',
                    borderWidth: 2,
                    pointBackgroundColor: '#FFFFFF',
                    pointBorderColor: '#F87171',
                    pointBorderWidth: 2,
                    pointRadius: 0,
                    yAxisID: 'y2',
                    fill: false
                }],
            },
            options: {
                interaction: {
                    intersect: false,
                    mode: 'x'
                },
                annotation: {
                    annotations: []
                },
                animation: false,
                responsive: true,
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: true
                    },
                    tooltip: {
                        enabled: true,
                        displayColors: true,
                        callbacks: {
                            title: function (value) {
                                return moment(Number(value[0].label)).format('HH:mm:ss');
                            },
                            label: function (value) {
                                const isSeconds = value.dataset.label === 'plots check time';
                                const isProofs = value.dataset.label === 'proofs';
                                return `${value.formattedValue} ${isSeconds ? 's' : (isProofs ? 'proofs' : 'plots')}`;
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        grid: {
                            display: false
                        },
                        ticks: {
                            maxTicksLimit: 10,
                            callback: function (value) {
                                return getXlabel(value);
                            }
                        }
                    },
                    y: {
                        min: 0,
                        ticks: {
                            callback: function (value/*, idx, values*/) {
                                const formattedValue = value.toFixed(4);
                                // const foundIndex = values.findIndex((item) => {
                                //     return item.value.toFixed(4) === formattedValue;
                                // });
                                // if (foundIndex !== idx) {
                                //     return null;
                                // }

                                return `${formattedValue} s`;
                            }
                        }
                    },
                    y1: {
                        grid: {
                            display: false
                        },
                        min: 0,
                        ticks: {
                            callback: function (value) {
                                return `${value}`;
                            }
                        },
                        position: 'right'
                    },
                    y2: {
                        grid: {
                            display: false,
                            drawBorder: false
                        },
                        'scaleShowLabels': false,
                        'showScale': false,
                        display: false,
                        min: 0,
                        ticks: {
                            callback: function (value) {
                                return `${value}`;
                            }
                        },
                        position: 'right'
                    }
                }
            }
        }

        const updateChart = (payload) => {

            lineChart.data.labels = payload.map(item => item.timestamp);
            lineChart.data.datasets[0] = {
                label: 'plots check time',
                data: payload.map(item => item.time),
                borderColor: '#409EFF',
                borderWidth: 1,
                pointBackgroundColor: '#FFFFFF',
                pointBorderColor: '#409EFF',
                pointBorderWidth: 1,
                pointRadius: 0,
            };

            lineChart.data.datasets[1] = {
                label: 'plots passed filter',
                data: payload.map(item => item.passedFilter),
                borderColor: '#6EE7B7',
                // backgroundColor: 'rgba(236, 253, 245, 0.5)',
                borderWidth: 1,
                pointBackgroundColor: '#FFFFFF',
                pointBorderColor: '#6EE7B7',
                pointBorderWidth: 1,
                pointRadius: 0,
                yAxisID: 'y1',
                // fill: true
            };

            lineChart.data.datasets[2] = {
                label: 'proofs',
                data: payload.map(item => item.proofs),
                borderColor: '#F87171',
                // backgroundColor: 'rgba(236, 253, 245, 0.5)',
                borderWidth: 1,
                pointBackgroundColor: '#FFFFFF',
                pointBorderColor: '#F87171',
                pointBorderWidth: 1,
                pointRadius: 0,
                yAxisID: 'y2',
                // fill: false
            };

            chartRef.value.update(250);
        }

        const getXlabel = (index) => {
            return moment(store.state.harvesterChartInfo[store.state.appName][index].timestamp).format('HH:mm:ss')
        }

        const unsubscribeStore = store.subscribe((mutation, state) => {
            if (mutation.type === MutationsTypes.HARVESTER_CHART_INFO_SET || mutation.type === MutationsTypes.HARVESTER_CHART_INFO_APPEND) {
                updateChart(state.harvesterChartInfo[state.appName]);
            }
        });

        return {
            chartRef,
            lineChart,
            updateChart,
            unsubscribeStore
        }
    },
    unmounted() {
        this.unsubscribeStore();
    },
    components: {
        Vue3ChartJs
    }
}
</script>

<style lang="scss">
.el-card {
    .el-card__header {
        min-height: unset;
    }
}

.line-chart {
    width: 100%;
    height: 250px;
}
</style>
