<template>
    <el-card>
        <template #header>
            Last Attempted Proof
        </template>
        <el-table :data="tableData">
            <el-table-column label="Plots Passed Filter" align="center" header-align="center">
                <template #default="scope">
                    {{ scope.row.passedFilter }} / {{ scope.row.total }}
                </template>
            </el-table-column>
            <el-table-column prop="proofs" label="Proofs Found" align="center" header-align="center"/>
            <el-table-column label="Date" width="150"  align="center" header-align="center">
                <template #default="scope">
                    {{ moment(scope.row.timestamp).format('MMM D, H:mm:ss A')}}
                </template>
            </el-table-column>
        </el-table>
    </el-card>
</template>

<script>
import moment from "moment";

export default {
    name: "proofTable",
    computed: {
        moment() {
            return moment
        },
        tableData() {
            return this.$store.state.harvesterProofsTable[this.$store.state.appName] || [];
        }
    }
}
</script>

<style scoped>

</style>
