.authorized-wrapper {
    height: 100%;

    .sidebar {
        height: 100%;
    }

    .sidebar-menu {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .sidebar-version {
        cursor: default;
        margin-top: auto;
        font-size: 13px;
        &:hover {
            background: none;
        }
    }

    .el-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $border;

        .right-side {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .wallet-link {
                margin-right: 30px;
            }

            .gui-button,
            .harvester-button,
            .logs-button {
                margin-right: 10px;
            }
        }
    }

    .restart-text {
        width: 100%;
        font-size: 20px;
        text-align: center;
    }
}
