.unauthorized-wrapper, .page-content, .form-container {
    width: 100%;
    height: 100%;
    background: $background;
    .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form-wrapper {
        min-width: 250px;
        max-width: 300px;
        width: 100%;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 3px rgba($info, .5);
        .label {
            .el-form-item__label {
                padding: 0;
                width: 100%;
                text-align: center;
            }
            .el-form-item__error {
                width: 100%;
                text-align: center;
            }
        }
        .el-input__inner {
            text-align: center;
        }
        .button-wrapper {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            .el-button {
                width: 100%;
            }
            .description {
                margin: 10px 0;
                width: 100%;
                text-align: center;
                color: $info;
                font-size: 16px;
            }
        }
        
    }
    
    
        .logo-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        .logo {
            max-width: 60px;
            max-height: 60px;
            width: 100%;
            height: 100%;
        }
        .logo-text {
            font-size: 30px;
        }
}