.card-wrapper {
    margin-top: 10px;
}
.el-card.box-card {
    .el-card__header {
        min-height: 60%;
        height: 100%;
    }
    .el-card__body {
        padding-top: 10px;
        padding-bottom: 10px;
        height: 100%;
    }
    display: flex;
    flex-direction: column;
    height: 100%;
}