.mnemonic-container {
    .button-wrapper {
        display: flex;
        justify-content: flex-end;
    }
    
    .mnemonic-row{
        display: flex;
        .mnemonic-input {
            margin: 5px;
        }
    }
    
    .header-label {
        word-break: break-word;
    }
    .copy-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .cell-data {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .time-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}