<template>
    <el-container class="unauthorized-wrapper">
        <el-row class="page-content">
            <el-col :span="24" class="form-container">
                <router-view v-slot="{Component}">
                    <transition name="el-fade-in" mode="out-in" appear>
                        <component :is="Component" />
                    </transition>
                </router-view>
            </el-col>
        </el-row>
    </el-container>
</template>

<script>
export default {
    name: 'UnAuthorizedLayout',
}
</script>
