<template>
    <div>
        <h4 style="margin-bottom: 16px;">Your api key:</h4>
        <el-input placeholder="Api key is loading..." size="large" class="cursor-default" v-model="apiKeyInfo" @keydown.stop.prevent @keypress.stop.prevent @keyup.stop.prevent>
            <template #append>
                <el-button slot="append" icon="el-icon-copy-document" @click="copyApiKey"></el-button>
            </template>
        </el-input>
    </div>
</template>
<script>
import ElNotification from "element-plus/lib/el-notification";

export default {
    name: 'api-key-info',
    data() {
        return {
            loading: true,
            apiKeyInfo: '',
            isFullInfo: false
        }
    },
    methods: {
        copyApiKey() {
            navigator.clipboard.writeText(this.apiKeyInfo)
                .then(() => {
                    ElNotification.success({
                        title: 'Success',
                        message: 'Api key was copied'
                    });
                })
                .catch(error => {
                    ElNotification.success({
                        title: 'Error',
                        message: 'Unable to copy api key'
                    });
                    console.log(error);
                });
        }
    },
    mounted() {
        this.loading = true;
        this.axios.get(`/api/user/api-key?t=${Date.now()}`)
            .then(resp => {
                this.apiKeyInfo = resp.data.answer.apiKey;
            })
            .catch(error => {
                console.error(error);
                this.errors.userBalance = true;
            })
            .finally(() => {
                this.loading = false;
            });
    }
}
</script>
<style lang="scss">
.cursor-default {

    .el-input__inner[disabled] {
        cursor: default !important;
    }

}
</style>