<template>
    <div class="connection-btn">
        <!--        <el-badge
                    is-dot
                    :type="qualityStatus"
                >-->
        <el-button
            class="connection-btn__btn relative"
            size="small"
            :type="qualityButtonStatus"
            plain
            :loading="loading"
        >
            {{ text }}

            <span class="flex absolute h-3 w-3 top-0 right-0 -mt-1 -mr-1">
                <span class="animate-ping absolute inline-flex h-full w-full rounded-full --bg-purple-400 opacity-75"
                      :class="{
                        'bg-green-400': qualityStatus === 'success',
                        'bg-amber-400': qualityStatus === 'warning',
                        'bg-red-400': qualityStatus === 'danger'
                      }"
                ></span>
                <span class="relative inline-flex rounded-full h-3 w-3 bg-purple-500"
                      :class="{
                        'bg-green-500': qualityStatus === 'success',
                        'bg-amber-500': qualityStatus === 'warning',
                        'bg-red-500': qualityStatus === 'danger'
                      }"
                ></span>
            </span>

        </el-button>
        <!--        </el-badge>-->
    </div>
</template>

<script>
export default {
    name: 'ConnectionBtn',
    computed: {
        loading() {
            return this.$store.state.connectionState.loading;
        },
        ping() {
            return this.$store.state.connectionState.ping;
        },
        quality() {
            return this.$store.state.connectionState.quality;
        },
        status() {
            return this.$store.state.connectionState.status;
        },
        qualityStatus() {
            let statusType = 'danger';
            if (!this.status) {
                return statusType;
            }
            switch (true) {
                case this.ping.value <= 20:
                    statusType = 'success';
                    break;
                case this.ping.value <= 60:
                    statusType = 'warning';
                    break;
            }

            return statusType;
        },
        qualityButtonStatus() {
            return this.status ? 'success' : 'warning';
        },
        text() {
            const {status} = this;
            return status ? `Online (last challenge ${this.ping.value} s ago)` : 'Offline (No recent challenges in logs)';
        },
    }
}

</script>

<style lang="scss" scoped>

.connection-btn {

    &__btn {
        min-width: 160px;
        pointer-events: none;
    }
}

.w-3 {
    width: .75rem;
}
.h-3 {
    height: .75rem;
}
.flex {
    display: flex;
}
.-mt-1 {
    margin-top: -.25rem;
}
.-mr-1 {
    margin-right: -.25rem;
}
.right-0 {
    right: 0;
}
.top-0 {
    top: 0;
}
.absolute {
    position: absolute;
}

.opacity-75 {
    opacity: .75;
}
.bg-purple-400 {
    --tw-bg-opacity: 1;
    background-color: rgba(192,132,252,var(--tw-bg-opacity));
}
.rounded-full {
    border-radius: 9999px;
}
.animate-ping {
    animation: ping 1s cubic-bezier(0,0,.2,1) infinite;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.inline-flex {
    display: inline-flex;
}
.absolute {
    position: absolute;
}

.bg-purple-500 {
    --tw-bg-opacity: 1;
    background-color: rgba(168,85,247,var(--tw-bg-opacity));
}

.bg-green-400 {
    background-color: #34D399;
}

.bg-amber-400 {
    background-color: #FBBF24;
}

.bg-red-400 {
    background-color: #F87171;
}

.bg-green-500 {
    background-color: #34D399;
}

.bg-amber-500 {
    background-color: #F59E0B;
}

.bg-red-500 {
    background-color: #EF4444;
}

.rounded-full {
    border-radius: 9999px;
}
.w-3 {
    width: .75rem;
}
.h-3 {
    height: .75rem;
}
.inline-flex {
    display: inline-flex;
}
.relative {
    position: relative;
}

@keyframes ping {
    75%,to {
        transform: scale(2);
        opacity: 0
    }
}

</style>
