<template>
    <el-container direction="vertical">
        <el-row v-for="currency in currenciesList" :key="currency.id" class="mt-4">
            <el-col>
                <el-card>
                    <template #header>
                        <div class="clearfix">
                            <span v-if="currency.appName === currentAppName" class="el-icon-circle-check mr-2 text-green-500 font-bold"></span>
                            <span class="uppercase">{{ currency.appName }} ({{ currency.id }})</span>
                        </div>
                    </template>
                    <div>
                        <el-form>
                            <el-form-item label="Use for farming">
                                <el-switch v-model="currency.settings.use"
                                           @change="($e) => onChangeCurrencyUsage(currency.appName, currency.settings.use, $e)"
                                ></el-switch>
                            </el-form-item>
                            <el-form-item :label="`Path to ${currency.appName} client`">
                                <el-input :model-value="getAppCliPathValue(currency.appName, currency.settings.cliPath)" :disabled="currency.settings.use"
                                          @focus="onFocusCliPath(currency.appName, currency.settings.cliPath)"
                                          @input="($e) => onInputCliPath(currency.appName, $e)"
                                          @blur="($e) => onChangeCliPath(currency.appName, currency.settings.cliPath)"
                                          @submit.prevent.stop
                                          @keypress.enter.prevent.stop
                                ></el-input>
                            </el-form-item>
                            <el-row>
                                <div class="flex flex-row-reverse w-full">
                                    <el-button type="primary"
                                               icon="el-icon-s-marketing"
                                               @click="goToDashboard(currency)"
                                    ><span class="uppercase">{{currency.appName}}</span> Dashboard</el-button>
                                </div>
                            </el-row>
                        </el-form>
                    </div>
                </el-card>
            </el-col>
        </el-row>
    </el-container>
</template>
<script>
import * as ActionsTypes from '../store/actions/types';

export default {
    name: 'currencies-setup',
    data() {
        return {
            cliPath: {
                editAppName: null,
                currentValue: null
            }
        }
    },
    computed: {
        currenciesList() {
            return this.$store.state.currencies.list;
        },
        currentAppName() {
            return this.$store.state.appName;
        }
    },
    methods: {
        goToDashboard(currency) {
            this.$store.dispatch(ActionsTypes.SET_CURRENT_CURRENCY, currency);
            this.$router.push('/dashboard');
        },
        onChangeCurrencyUsage(appName, defaultUse, $e) {
            console.log('onChangeCurrencyUsage', appName, $e);
            if ($e) {
                this.$store.dispatch(ActionsTypes.RESTART_HARVESTER, appName);
            } else {
                this.$store.dispatch(ActionsTypes.STOP_HARVESTER, appName);
            }
        },
        preventEnter($e) {
            console.log('prevent enter', $e)
        },
        onFocusCliPath(appName, cliPath) {
            this.cliPath.editAppName = appName;
            this.cliPath.currentValue = cliPath;
        },
        onChangeCliPath(appName, defaultPath) {
            if (this.cliPath.currentValue !== defaultPath) {
                console.log('Cli path value changed');
                this.$confirm(`You have changed cli path from ${defaultPath} to ${this.cliPath.currentValue}. Continue?`, 'Warning', {
                    confirmButtonText: 'Save new',
                    cancelButtonText: 'Cancel',
                    type: 'warning'
                })
                    .then(() => {
                        this.$store.dispatch(ActionsTypes.VALIDATE_AND_SAVE_NEW_CLI_PATH, {
                            appName: this.cliPath.editAppName,
                            cliPath: this.cliPath.currentValue
                        });
                    })
                    .catch(() => {
                        console.log('fuckup');
                    })
                    .finally(() => {
                        this.cliPath.editAppName = null;
                        this.cliPath.currentValue = null;
                    })
            }
        },
        onInputCliPath(appName, newCliPath) {
            if (appName === this.cliPath.editAppName) {
                this.cliPath.currentValue = newCliPath;
            }
        },
        getAppCliPathValue(appName, defaultValue) {
            if (appName === this.cliPath.editAppName) {
                return this.cliPath.currentValue;
            }
            return defaultValue;
        }
    },
    mounted() {
        this.$store.dispatch(ActionsTypes.FETCH_CURRENCIES_DATA);
    }
}
</script>