<template>
    <el-container direction="vertical">
        <el-row :gutter="20">

            <el-col class="card-wrapper" :xs="24" :sm="12" :md="6">
                <el-card class="box-card">
                    <template #header>
                        Total Network Space
                    </template>
                    <transition name="el-fade-in" mode="out-in" appear>
                        <div v-if="dashboardWidgets.loaders.poolNetSpace" key="loader">
                            <i class="el-icon-loading"/>
                        </div>
                        <div v-else key="data">
                            <template v-if="dashboardWidgets.errors.netSpaces">
                                Data can't load from server
                            </template>
                            <template v-else>
                                {{ getIecValue(dashboardWidgets.poolNetSpace) }}
                            </template>
                        </div>
                    </transition>
                </el-card>
            </el-col>

            <el-col class="card-wrapper" :xs="24" :sm="12" :md="6">
                <el-card class="box-card">
                    <template #header>
                        Effective Capacity
                        <el-tooltip content="The effective capacity (EC) is calculated based on the last 1 hour of partials submitted to the pool and such can vary.">
                            <i class="el-icon-question"/>
                        </el-tooltip>
                    </template>
                    <transition name="el-fade-in" mode="out-in" appear>
                        <div v-if="dashboardWidgets.loaders.poolNetSpace" key="loader">
                            <i class="el-icon-loading"/>
                        </div>
                        <div v-else key="data" class="" style="position: relative;">
                            <template v-if="dashboardWidgets.errors.netSpaces">
                                Data can't load from server
                            </template>
                            <template v-else>
                                {{ getIecValue(dashboardWidgets.userNetSpace) }}
                                <el-button icon="el-icon-question position-absolute" size="mini" circle style="position: absolute; top: -25%; right: 0;"
                                           @click="showSizeOfPlotsDetails=true"
                                ></el-button>
                            </template>
                        </div>
                    </transition>
                </el-card>
            </el-col>

            <el-col class="card-wrapper" :xs="24" :sm="12" :md="6">
                <el-card class="box-card">
                    <template #header>
                        <div style="display: flex; justify-content: space-between;">
                            <span class="">
                                My Balance ({{ currencyId.toUpperCase() }} = {{ currencyPrice }} $)
                            </span>
                            <span style="color: #F87171; font-weight: 900;">
                                <el-tooltip content="In case of doubleminers, all new users, that has been registered less than 1 month, has blocked withdrawals for 1 month.">
                                    <i class="el-icon-warning-outline"/>
                                </el-tooltip>
                            </span>
                        </div>

                    </template>
                    <transition name="el-fade-in" mode="out-in" appear>
                        <div v-if="dashboardWidgets.loaders.userBalance" key="loader">
                            <i class="el-icon-loading"/>
                        </div>
                        <div v-else key="data">
                            <template v-if="dashboardWidgets.errors.userBalance">
                                Data can't load from server
                            </template>
                            <template v-else>
                                {{ balance }} ({{(balance * currencyPrice).toFixed(2)}} $)
                            </template>
                        </div>
                    </transition>
                </el-card>
            </el-col>

            <el-col class="card-wrapper" :xs="24" :sm="12" :md="6">
                <el-card class="box-card">
                    <template #header>
                        Pending Withdrawals
                    </template>
                    <transition name="el-fade-in" mode="out-in" appear>
                        <div v-if="dashboardWidgets.loaders.pendingWithdrawal" key="loader">
                            <i class="el-icon-loading"/>
                        </div>
                        <div v-else key="data">
                            <template v-if="dashboardWidgets.errors.pendingWithdrawal">
                                Data can't load from server
                            </template>
                            <template v-else>
                                {{ pendingWithdrawalTotal }}
                            </template>
                        </div>
                    </transition>
                </el-card>
            </el-col>

        </el-row>
        <el-row class="mt-20">
            <el-col>
                <plots-time-chart/>
            </el-col>
        </el-row>
        <el-row class="mt-20">
            <el-col>
                <proof-table/>
            </el-col>
        </el-row>

        <size-of-plots-details v-if="showSizeOfPlotsDetails"
                               @close="showSizeOfPlotsDetails = false"
        ></size-of-plots-details>

    </el-container>
</template>

<script>
// components
import plotsTimeChart from "../components/dashboard/plotsTimeChart";
import proofTable from "../components/dashboard/proofTable";
// utils
import iecMetricsMixin from '../mixins/iec-metrics';
import SizeOfPlotsDetails from "./SizeOfPlotsDetails";

import * as ActionsTypes from '../store/actions/types';
import * as GettersTypes from '../store/getters/types';
import {mapState} from "vuex";

export default {
    name: "Dashboard",
    data() {
        return {
            showSizeOfPlotsDetails: false
        }
    },
    mixins: [
        iecMetricsMixin
    ],
    computed: {
        ...mapState(['dashboardWidgets', 'currencyId', 'currencyPrice']),
        balance() {
            return (Number(this.$store.getters[GettersTypes.GET_BALANCE])).toFixed(16);
        },
        pendingWithdrawalTotal() {
            return this.$store.state.pendingWithdrawals
                .reduce((res, item) => {
                    return res + (+item.amount) + (+item.fee);
                }, 0);
        }
    },
    methods: {
        getInfo() {
            return this.$store.dispatch(ActionsTypes.FETCH_DASHBOARD_METRICS);
        },
    },
    async mounted() {
        await this.getInfo();
        this.fetchInterval = setInterval(this.getInfo, 60 * 2000);
    },
    unmounted() {
        clearInterval(this.fetchInterval);
    },
    components: {
        SizeOfPlotsDetails,
        plotsTimeChart,
        // proofsChart,
        proofTable
    }
}
</script>
