<template>
    <el-container direction="vertical">
        <el-row>
            <el-col>
                <el-card>
                    <template #header>
                        <div>Your Farm Overview</div>
                    </template>
                    <el-table :data="plots">
                        <el-table-column prop="index" label="index" width="65"/>
                        <el-table-column prop="kSize" label="K-size" width="150"/>
                        <el-table-column prop="filename" label="File Name"/>
                        <el-table-column prop="path" label="Path"/>
                        <el-table-column prop="plotSize" label="File Size" width="150"/>
                    </el-table>
                </el-card>
            </el-col>
        </el-row>

        <el-row class="mt-20">
            <el-col>
                <el-card>
                    <template #header>
                        <div>Invalid plots</div>
                    </template>
                    <el-table :data="badPlots">
                        <el-table-column prop="path" label="Path to plots"/>
                        <el-table-column label="Details" align="right" width="75px;">
                            <template #default="scope">
                                <el-button icon="el-icon-search" circle
                                           @click="getPlotMemo(scope.row.path)"></el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>
            </el-col>
        </el-row>

        <el-dialog v-if="displayPlotMemo"
                   :value="true"
                   :modelValue="true"
                   title="Plot keys info"
                   width="90%"
                   center
                   :close-on-click-modal="false"
                   :close-on-press-escape="false"
                   :show-close="false"
        >

            <el-card class="box-card">
                <template #header>
                    Pool pubic key
                </template>
                {{ poolPublicKey }}
            </el-card>
            <el-card class="box-card mt-20">
                <template #header>
                    Farmer public key
                </template>
                {{ farmerPublicKey }}
            </el-card>

            <template #footer>
                <el-button type="info" plain @click="displayPlotMemo = false">Close</el-button>
            </template>
        </el-dialog>

    </el-container>
</template>

<script>

import * as ActionsTypes from '../store/actions/types';
import iecMetricsMixin from '../mixins/iec-metrics';

export default {
    name: "Farm",
    mixins: [
        iecMetricsMixin
    ],
    data() {
        return {
            displayPlotMemo: false,
            plotMemo: null
        }
    },
    computed: {
        plots() {
            return this.$store.state.farmData.plots;
        },
        badPlots() {
            return this.$store.state.farmData.badPlots;
        },
        poolPublicKey() {
            return this.plotMemo.slice(0,96);
        },
        farmerPublicKey() {
            return this.plotMemo.slice(96,96 * 2);
        }
    },
    methods: {
        async getPlotMemo(path) {
            console.log('path', path);
            const resp = await this.axios.post('/api/harvester/get-plot-memo', {
                path
            });

            if (resp.data.success) {
                console.log('memo', resp.data.answer);
                this.plotMemo = resp.data.answer;
                this.displayPlotMemo = true;
            }
        }
    },
    async mounted() {
        await this.$store.dispatch(ActionsTypes.FARM_DATA_FETCH);
    }
}
</script>
