<template>
    <el-container direction="vertical" class="mnemonic-container">

        <el-row>
            <el-col :span="24" class="button-wrapper">
                <el-button type="primary" @click="showModal()" plain>
                    <i class="el-icon-key" /> Add my mnemonics
                </el-button>
            </el-col>
        </el-row>
        <el-row class="mt-20">
            <el-col :span="24">
                <el-card>
                    <template #header>
                        Mnemonic list
                    </template>
                    <el-table :data="mnemonicTable"
                              stripe
                              :highlight-current-row="true"
                              size="medium">
                        <el-table-column label="Index" type="index" width="65" align="center"/>
                        <el-table-column label="Fingerprint" prop="fingerprint" min-width="130"/>
                        <el-table-column label="Pool key" min-width="150">
                            <template #default="scope">
                                <div class="copy-wrapper">
                                    <div class="cell-data">
                                        {{ scope.row.poolPublicKey }}
                                    </div>
                                    <i class="el-icon-copy-document" @click="copy(scope.row.poolPublicKey)" />
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column label="Farmer key" min-width="150">
                            <template #default="scope">
                                <div class="copy-wrapper">
                                    <div class="cell-data">
                                        {{ scope.row.farmerPublicKey }}
                                    </div>
                                    <i class="el-icon-copy-document" @click="copy(scope.row.farmerPublicKey)" />
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column label="Master key" min-width="150">
                            <template #default="scope">
                                <div class="copy-wrapper">
                                    <div class="cell-data">
                                        {{ scope.row.masterPublicKey }}
                                    </div>
                                    <i class="el-icon-copy-document" @click="copy(scope.row.masterPublicKey)" />
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column label="Wallet" min-width="150">
                            <template #default="scope">
                                <div class="copy-wrapper">
                                    <div class="cell-data">
                                        {{ scope.row.firstWalletAddress }}
                                    </div>
                                    <i class="el-icon-copy-document" @click="copy(scope.row.firstWalletAddress)" />
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column label="Created At" min-width="130" header-align="center">
                            <template #default="scope">
                                <div class="time-wrapper">
                                    <div>{{ moment(scope.row['createdAt']).format('DD/MM/YYYY') }}</div>
                                    <div>{{ moment(scope.row['createdAt']).format('HH:mm') }}</div>
                                </div>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>
            </el-col>
        </el-row>

        <!--mnemonic modal-->
        <el-dialog
            v-model="mnemonicModal"
            title="Add a mnemonic keys"
            width="90%"
            center >
            <el-form
                :model="form"
                :rules="rules"
                ref="mnemonicForm"
                @submit.prevent="addMnemonic">
                <el-form-item class="mnemonic-input" prop="mnemonic">
                    <el-input
                        placeholder="Enter your mnemonic keys"
                        autocomplete="off"
                        v-model="form.mnemonic"/>
                </el-form-item>
            </el-form>
            <template #footer>
                <el-button type="primary" plain @click="addMnemonic">Add mnemonic</el-button>
                <el-button type="info" plain @click="closeModal()">Close</el-button>
            </template>
        </el-dialog>

    </el-container>
</template>

<script>
import ElNotification from "element-plus/lib/el-notification";
import ElLoading from 'element-plus/lib/el-loading';
import socket from '../sockets';
import moment from 'moment';

export default {
    name: "Mnemonics",
    data() {
        return {
            mnemonicModal: false,
            form: {
                mnemonic: ''
            },
            rules: {
                mnemonic: [
                    {required: true, message: 'Field couldn\'t be empty', trigger: 'blur'},
                    {validator: this.validator, trigger: 'blur'}
                ]
            },
            mnemonicTable: [],
            loading: null,
        }
    },
    computed: {
        moment() {
            return moment;
        }
    },
    methods: {
        // modal control
        showModal() {
            this.mnemonicModal = true;
        },
        closeModal() {
            this.mnemonicModal = false;
        },
        copy(data) {
            navigator.clipboard.writeText(data)
            .then(() => {
                ElNotification.success({
                    title: 'Success',
                    message: 'Data was copies'
                })
            })
        },
        validator(rule, value, callback) {
            const string = value.trim().replace(/ {2,}/g, ' ');
            const words = string.split(' ');
            if (words.length !== 24) {
                callback(new Error('mnemonic key must be 24 words'))
            }
                callback();
        },

        addMnemonic() {
            this.$refs.mnemonicForm.validate(async (valid) => {
                if (valid) {
                    this.closeModal();
                    this.loading = ElLoading.service({
                        lock: true,
                        text: 'Loading',
                        spinner: 'el-icon-loading',
                        background: 'rgba(0, 0, 0, 0.7)'
                    });

                    try {
                        await this.axios.post('/api/user/add-mnemonic', {
                            mnemonic: this.form.mnemonic.trim().replace(/ {2,}/g, ' ').split(' '),
                        });
                    } catch(e) {
                        this.showModal();
                        ElNotification.error({
                            title: "Some error has occurred",
                            message: e.message || "Please try later",
                        });
                        console.error(e);
                    }

                    setTimeout(() => {
                        this.loading.close();
                    }, 2000);
                } else {
                    return false;
                }
            })
        },
        async getMnemonicList() {
            try {
                this.loading = ElLoading.service({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                let resp = await this.axios.get('/api/user/get-mnemonics');
                this.loading.close();
                if (resp.data.success) {
                    this.mnemonicTable = resp.data.answer
                } else {
                    ElNotification.error({
                        title: 'Error',
                        message: 'Some error has occurred, try later'
                    });
                    console.error(resp.data.answer);
                }
            } catch(e) {
                ElNotification.error({
                    title: 'Error',
                    message: e.message || 'Some error has occurred, try later'
                });
                console.error(e);
            }
        },
    },
    mounted() {
        this.getMnemonicList();
        socket.on('new-mnemonics', (resp) =>{
            if (resp.success) {
                this.closeModal()
                this.form.mnemonic = '';
                this.mnemonicTable.unshift(resp.answer);
                ElNotification.success({
                    title: 'Success'
                })
                this.loading.close();
            } else {
                this.loading.close();
                ElNotification.error({
                    title: 'Error',
                    message: resp.answer || "Please try later",
                });
                this.showModal();
            }
        })
    },
    unmounted() {
        socket.off('new-mnemonics');
    }
}
</script>

<style scoped>

</style>
