<template>
    <el-container direction="vertical" class="plots-container">

        <el-row>
            <el-col :span="24">
                <el-card>
                    <template #header>
                        Choose Plot Size
                    </template>
                    <select
                        class="select"
                        :disabled="madPlotter && appName !== 'chives'"
                        v-model="plotsSize.current"
                    >
                        <option
                            v-for="item in plotsSize.options"
                            :key="item.value"
                            :value="item.value"
                        >
                            {{ item.label }}
                        </option>
                    </select>
                    <el-checkbox
                        class="plotter-checkbox"
                        v-model="madPlotter"
                    >
                        Use MadMax Plotter
                    </el-checkbox>
                    <div
                        v-if="madPlotter"
                        class="plotter-warn"
                    >
                        Mad max plotter may don't work correctly on the your computer.
                        <br>
                        We watch on the new releases and update it as soon as possible.
                    </div>
                </el-card>
            </el-col>
        </el-row>

        <el-row class="mt-20">
            <el-col :span="24">
                <el-card>
                    <template #header>
                        Plot options
                    </template>

                    <!--                    <el-select class="select" v-model="plotsCount.current" placeholder="Plot Count">
                                            <el-option v-for="item in plotsCount.options"
                                                       :key="item.value"
                                                       :label="item.label"
                                                       :value="item.value"/>
                                        </el-select>-->
                    <!--                    <div class="radio-wrapper">-->
                    <!--                        <el-radio v-model="plottingType" :label="1">Plot in Parallel</el-radio>-->
                    <!--                        <el-radio v-model="plottingType" :label="2">Add Plot to Queue</el-radio>-->
                    <!--                    </div>-->
                    <!--                    <div class="input-wrapper mt-20" v-if="plottingType === 1">-->
                    <!--                        <label class="input-label">Want to have a delay before the next plot starts?</label>-->
                    <!--                        <el-input class="number-input" v-model="plottingDelay" type="number"-->
                    <!--                                  :min="0" :max="999" placeholder="Delay">-->
                    <!--                            <template #append>Minutes</template>-->
                    <!--                        </el-input>-->
                    <!--                    </div>-->

                    <div class="input-wrapper">
                        <label class="input-label">
                            Plots count
                        </label>
                        <el-input
                            v-model="plotsCount"
                            type="number"
                            placeholder="Plots count"
                        />
                    </div>

                    <div class="input-wrapper">
                        <label class="input-label">RAM max usage (MiB)</label>
                        <el-input class="number-input" v-model="ram" type="number"
                                  :min="deviceMemory / 2" :max="deviceMemory" placeholder="RAM max usage">
                            <template #append>MiB</template>
                        </el-input>
                    </div>

                    <div class="input-wrapper">
                        <label class="input-label">Number of threads</label>
                        <el-input class="number-input" v-model="threads" type="number"
                                  :min="deviceThreads / 2" :max="deviceThreads" placeholder="Number of threads"/>
                    </div>

                    <div class="input-wrapper">
                        <label class="input-label">Number of buckets</label>
                        <el-input v-model="buckets" type="number" placeholder="Number of buckets"/>
                    </div>

                    <div class="input-wrapper">
                        <label class="input-label">Queue Name</label>
                        <el-input v-model="queue" placeholder="Queue Name"/>
                    </div>

                    <!--                    <el-collapse class="collapse">-->
                    <!--                        <el-collapse-item>-->
                    <!--                            <template #title>-->
                    <!--                                <span class="header">Show Advanced Options</span>-->
                    <!--                            </template>-->

                    <!--                            &lt;!&ndash;                <el-checkbox v-model="disableBitfield">Disable bitfield plotting</el-checkbox>&ndash;&gt;-->
                    <!--                            &lt;!&ndash;                <el-checkbox v-model="folderExclude">Exclude final directory</el-checkbox>&ndash;&gt;-->
                    <!--                        </el-collapse-item>-->
                    <!--                    </el-collapse>-->
                </el-card>
            </el-col>
        </el-row>

        <el-row class="mt-20">
            <el-col :span="24">
                <el-card>
                    <template #header>
                        Select Temporary Directory
                    </template>
                    <el-input v-model="temporaryPath" placeholder="Temporary Folder Location"/>
                    <el-collapse class="collapse">
                        <el-collapse-item>
                            <template #title>
                                <span class="header">Show Advanced Options</span>
                            </template>

                            <div class="collapse-title">
                                Select 2nd Temporary Directory
                            </div>
                            <el-input v-model="temporaryPath2" placeholder="Second Temporary Folder Location"/>
                        </el-collapse-item>
                    </el-collapse>
                </el-card>
            </el-col>
        </el-row>

        <el-row class="mt-20">
            <el-col :span="24">
                <el-card>
                    <template #header>
                        Select Final Directory
                    </template>
                    <el-input v-model="finalPath" placeholder="Final folder location"/>
                </el-card>
            </el-col>
        </el-row>

        <el-button type="primary" class="create-plot" @click="onSubmit">
            CREATE PLOT
        </el-button>

    </el-container>
</template>

<script>
import ElLoading from 'element-plus/lib/el-loading';
import ElNotification from 'element-plus/lib/el-notification';

export default {
    name: "PlotsCreate",
    data() {
        return {
            plotsCount: 1,
            madPlotter: false,
            plottingType: 2,
            plottingDelay: 0,
            ram: 0,
            threads: 2,
            buckets: 128,
            queue: 'default',
            // folderExclude: false,
            // disableBitfield: false,
            temporaryPath: '',
            temporaryPath2: '',
            finalPath: '',

            loading: null
        }
    },
    watch: {
        madPlotter(val) {
            console.log(111);
            if (val) {
                this.plotsSize.current = this.plotsSize.options[0].value;
            }
        }
    },
    computed: {
        deviceMemory() {
            return navigator.deviceMemory * 1024;
        },
        deviceThreads() {
            return navigator.hardwareConcurrency;
        },
        appName() {
            return this.$store.state.appName;
        },
        plotsSize() {
            if (this.appName === 'chives') {
                return {
                    options: [
                        {value: 29, label: 'k=29, temporary space: 33GiB'},
                        {value: 30, label: 'k=30, temporary space: 65GiB'},
                        {value: 31, label: 'k=31, temporary space: 129GiB'},
                    ],
                    current: 29
                }
            } else {
                return {
                    options: [
                        {value: 32, label: '101.4GiB (k=32, temporary space: 239GiB)'},
                        {value: 33, label: '208.8GiB (k=33, temporary space: 521GiB)'},
                        {value: 34, label: '429.8GiB (k=34, temporary space: 1041GiB)'},
                        {value: 35, label: '884.1GiB (k=35, temporary space: 2175GiB)'},
                    ],
                    current: 32
                }
            }
        }
    },
    methods: {
        async onSubmit() {
            // TODO: добавить валидацию

            try {
                this.loading = ElLoading.service({
                    lock: true,
                    text: 'Loading',
                    spinner: 'el-icon-loading',
                    background: 'rgba(0, 0, 0, 0.7)'
                });
                let resp = await this.axios.post('/api/harvester/create-plots', {
                    plotParams: {
                        size: this.plotsSize.current,
                        ram: this.ram,
                        threads: this.threads,
                        count: this.plotsCount,
                        buckets: this.buckets,
                        queue: this.queue,
                        tempFolder: this.temporaryPath,
                        tempFolder2: this.temporaryPath2,
                        persistentFolder: this.finalPath,
                        plottingType: this.plottingType,
                        plottingDelay: this.plottingDelay
                    },
                    madPlotter: this.madPlotter
                });

                if (resp.data.success) {
                    this.loading.close();
                    ElNotification.success({
                        title: "Success",
                        message: "Plots successfully adding to queue"
                    })
                    this.$router.push({name: 'Plotting'});
                } else {
                    this.loading.close();
                    ElNotification.error({
                        title: 'Error',
                        message: resp.data.answer || 'Error is occurred, try later'
                    })
                }
            } catch (e) {
                this.loading.close();
                ElNotification.error({
                    title: "Error",
                    message: e.message || 'Error is occurred, try later'
                })
                console.error(e);
            }
        }
    },
    mounted() {
        this.ram = this.deviceMemory / 2;
        this.threads = this.deviceThreads / 2;
    }
}
</script>

<style lang="scss" scoped>

.select {
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    color: #606266;
    border-radius: 4px;
    border: 1px solid #DCDFE6;
    cursor: pointer;

    &:disabled {
        cursor: default;
    }
}

.input-wrapper {
    margin-bottom: 20px;

    & .input-label {
        margin-bottom: 8px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

</style>

