<template>
    <el-container direction="vertical" class="plots-container">
        <el-row>
            <el-col :span="24" class="button-wrapper">
                <el-button class="add-folder" type="primary" @click="showModal('folderModal')" plain>
                    <i class="el-icon-folder-add" /> Add Plot Directory
                </el-button>
            </el-col>
        </el-row>
        <el-row class="mt-20">
            <el-col :span="24">
                <el-card>
                    <template #header>
                        <div class="folder-title">Plots directories</div>
                        <div class="folder-subtitle">after adding a directory, the process of processing plots can take more than 10 minutes.</div>
                    </template>
                    <el-table :data="tableDirectories" :show-header="false">
                        <el-table-column prop="path"/>
                        <el-table-column width="80px">
                            <template #default="scope">
                                <el-button type="warning" plain circle @click="showModal('deleteModal', scope.row.path)">
                                    <i class="el-icon-delete"/>
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-card>
            </el-col>
        </el-row>
        <!--add modal-->
        <el-dialog v-model="folderModal" title="Add a plot directory" center>
            <el-form @submit.prevent="addPlotDirectory">
                <el-form-item label="This allows you to add a directory that has plots in it.">
                    <el-input v-model="folderModalPath" />
                </el-form-item>
            </el-form>
            <template #footer>
                <el-button type="primary" plain @click="addPlotDirectory">Add a plot directory</el-button>
                <el-button type="info" plain @click="closeModal('folderModal')">Close</el-button>
            </template>
        </el-dialog>
        <!--remove modal-->
        <el-dialog v-model="deleteModal" title="Are you sure you want to delete this directory:" center>
            <div class="path">
                {{ deleteModalPath }}
            </div>
            <template #footer>
                <el-button type="warning" plain @click="removePlotDirectory">Remove folder</el-button>
                <el-button type="info" plain @click="closeModal('deleteModal')">Cancel</el-button>
            </template>
        </el-dialog>
    </el-container>
</template>

<script>
import * as ActionsTypes from '../store/actions/types';

export default {
    name: "PlotsDirectories",
    data() {
        return {
            folderModal: false,
            deleteModal: false,
            folderModalPath: '',
            deleteModalPath: '',
            counter: 0
        }
    },
    computed: {
        tableDirectories() {
            return this.$store.state.plotDirectories.tableDirectories
        }
    },
    methods: {
        // modal control
        showModal(modal, path = '') {
            this[modal] = true;
            this[`${modal}Path`] = path;
        },
        closeModal(modal) {
            this[modal] = false;
            this[`${modal}Path`] = '';
        },

        async getDirectories() {
            return this.$store.dispatch(ActionsTypes.PLOT_DIRECTORIES_FETCH);
        },
        async addPlotDirectory() {
            const addResult = await this.$store.dispatch(ActionsTypes.PLOT_DIRECTORIES_ADD, this.folderModalPath);

            if (addResult) {
                this.folderModal = false;
                this.folderModalPath = '';
            }
        },
        async removePlotDirectory() {
            const removeResult = await this.$store.dispatch(ActionsTypes.PLOT_DIRECTORIES_REMOVE, this.deleteModalPath);

            if (removeResult) {
                this.deleteModal = false;
                this.deleteModalPath = '';
            }
        },

    },
    mounted() {
        this.getDirectories();
    }
}
</script>

