<template>
    <div class="form-wrapper">
        <el-form
            @submit.prevent="onRegistration"
            :model="form"
            :rules="rules"
            label-position="top"
            ref="registrationForm">
            <el-form-item class="label" label="Email" prop="login" :error="errors.login">
                <el-input v-model="form.login" type="email" required autocomplete="off"/>
            </el-form-item>
            <el-form-item class="label" label="Password" prop="password" :error="errors.password">
                <el-input v-model="form.password" type="password" required autocomplete="off"/>
            </el-form-item>
            <el-form-item class="label" label="Repeat password" prop="repeatPassword" :error="errors.repeatPassword">
                <el-input v-model="form.repeatPassword" type="password" required autocomplete="off"/>
            </el-form-item>

            <div class="button-wrapper">
                <el-button type="primary" native-type="submit">
                    Registration
                </el-button>
                <div class="description">OR</div>
                <router-link to="/login">
                    <el-button type="primary">
                        Sign in
                    </el-button>
                </router-link>
            </div>
        </el-form>
    </div>
</template>

<script>
import ElLoading from "element-plus/lib/el-loading";
import * as MutationsTypes from '../store/mutations/types';

export default {
    name: 'RegistrationPage',
    data() {
        return {
            form: {
                login: '',
                password: '',
                repeatPassword: ''
            },
            rules: {
                login: [{ type: 'email', message: 'Email must be email', trigger: 'blur' }],
                password: [{
                    validator: this.validatePass, trigger: 'blur'
                }],
                repeatPassword: [{
                    validator: this.validatePass2, trigger: 'blur'
                }]
            },
            errors: {
                login: null,
                password: null,
                repeatPassword: null
            },
        }
    },
    methods: {
        validatePass(rule, value, callback) {
          if (value === '') {
              callback(new Error('Please input the password'))
          } else {
              if (this.form.repeatPassword !== '') {
                this.$refs.registrationForm.validateField('repeatPassword');
              }
          }
          callback();
        },
        validatePass2(rule, value, callback) {
            if (value === '') {
                callback(new Error('Please input the password'));
            } else if (value !== this.form.password) {
                callback(new Error('Two inputs don\'t match!'));
            } else {
                callback()
            }
        },
        async onRegistration() {
            const {
                login,
                password,
                repeatPassword
            } = this.form;

            if (password !== repeatPassword) {
                this.errors.repeatPassword = 'Password mismatch'
                return false;
            }

            let loading = ElLoading.service({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            try {
                let resp = await this.axios.post('/api/registration', {
                    login,
                    password
                })
                if(resp.data.success){
                    if (resp.data.answer.checkChia) {
                        this.$store.commit(MutationsTypes.SET_PATH_STATUS, resp.data.answer.checkChia);
                        this.$store.commit(MutationsTypes.SET_AUTH, resp.data.success);
                        this.$router.push('/dashboard');
                    } else {
                        this.$store.commit(MutationsTypes.SET_AUTH, resp.data.success);
                        this.$router.push('/request_chia_path');
                    }
                } else {
                    this.errors.login = resp.data.answer?.error || 'an error has occured, please contact support';
                }
            } catch(e){
                console.error(e);
                this.errors.login = 'an error has occured, please contact support';

            }
            loading.close();
        }
    }
}
</script>

