<template>
    <el-dialog
        title="Harvesters info"
        :modelValue="true"
        @close="$emit('close')"
    >

        <el-row style="margin-bottom: 20px">
            <el-col>
                <el-card class="box-card" v-loading>
                    <template #header>
                        Current Harvester
                    </template>
                    <transition name="el-fade-in" mode="out-in" appear>
                        <div v-if="loading" key="loader">
                            <i class="el-icon-loading"/>
                        </div>
                        <div v-else key="data">
                            0x{{ currentId }}
                        </div>
                    </transition>
                </el-card>
            </el-col>
        </el-row>

        <el-table
            v-loading="loading"
            :data="sizes"
            style="width: 100%"
            :row-class-name="tableRowClassName"
            :showSummary="true"
            :summary-method="getSummaries"
        >
            <el-table-column
                prop="harvester_id"
                label="Harvester"
                width="180">
            </el-table-column>
            <el-table-column
                prop="points"
                label="Points"
                width="180">
            </el-table-column>
            <el-table-column
                prop="estimated_volume"
                label="Volume"
                :formatter="formatEstimatedVolume"
            >
            </el-table-column>
        </el-table>
    </el-dialog>
</template>
<script>
import iecMetrixMixin from '../mixins/iec-metrics';
import * as ActionsTypes from '../store/actions/types';

export default {
    name: 'size-of-plots-details',
    mixins: [
        iecMetrixMixin
    ],
    // data() {
    //     return {
    //         sizes: [],
    //         currentId: null,
    //         loading: true
    //     }
    // },
    computed: {
        currentId() {
            return this.$store.state.harvesterId;
        },
        loading() {
            return !!this.$store.state.loading;
        },
        sizes() {
            return this.$store.state.harvestersDetails;
        }
    },
    methods: {
        tableRowClassName({row}) {
            if (row.harvester_id === this.currentId || row.harvester_id === '0x' + this.currentId) {
                return 'success-row';
            }
            return '';
        },
        formatEstimatedVolume(row) {
            return this.getIecValue(row.estimated_volume).toString()
        },
        getSummaries(param) {
            const { columns, data } = param;
            const sums = [];

            columns.forEach((column, index) => {
                if (index === 0) {
                    sums[index] = 'Totals:';
                    return;
                }
                const values = data.map(item => Number(item[column.property]));
                if (!values.every(value => isNaN(value))) {
                    sums[index] = values.reduce((prev, curr) => {
                        const value = Number(curr);
                        if (!isNaN(value)) {
                            return prev + curr;
                        } else {
                            return prev;
                        }
                    }, 0);
                } else {
                    sums[index] = 'N/A';
                }

                if (column.property === 'estimated_volume') {
                    sums[index] = this.getIecValue(sums[index]).toString();
                }
            });

            return sums;
        }
    },
    mounted() {
        this.$store.dispatch(ActionsTypes.FETCH_HARVESTERS_DETAILS);
        // Promise.all([
        //     this.axios.get(`/api/user/all-my-volumes?t=${Date.now()}`)
        //         .then(resp => {
        //             this.sizes = (resp.data.answer || [])
        //                 .map((item) => {
        //                     return {
        //                         ...item,
        //                         volume: this.getIecValue(item.estimated_volume)
        //                     }
        //                 });
        //         })
        //         .catch(error => {
        //             console.error(error);
        //         }),
        //     this.axios.get(`/api/harvester/id?t=${Date.now()}`)
        //         .then(resp => {
        //             this.currentId = resp.data.answer;
        //         })
        // ])
        //     .then(() => {
        //         this.loading = false;
        //     })
    }
}
</script>
<style>
.el-table .success-row {
    background: #f0f9eb;
}
</style>