<template>
    <el-container direction="vertical">
        <el-row :gutter="20">
            <el-col class="card-wrapper" :xs="24" :sm="12" :md="6">
                <el-card class="box-card">
                    <template #header>
                        My Balance ({{ currencyId.toUpperCase() }} = {{ currencyPrice }} $)
                    </template>
                    <transition name="el-fade-in" mode="out-in" appear>
                        <div v-if="loaders.userBalance" key="loader">
                            <i class="el-icon-loading" />
                        </div>
                        <div v-else key="data">
                            <template v-if="errors.userBalance">
                                Data can't load from server
                            </template>
                            <template v-else>
                                {{ userBalance }} ({{(userBalance * currencyPrice).toFixed(2)}} $)
                            </template>
                        </div>
                    </transition>
                </el-card>
            </el-col>
        </el-row>
        <el-row class="mt-20">
            <el-col :span="24">
                <el-card>
                    <template #header>
                        Wallet
                    </template>
                    <el-form class="withdrawal-form">
                        <el-form-item>
                            <el-input placeholder="Chia Address To Withdraw amount" v-model="xchAddress">
                                <template #prepend>{{ currency.toUpperCase() }} address to withdraw</template>
                            </el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-input v-model="amount">
                                <template #prepend>Amount to withdraw</template>
                                <template #append>
                                    <el-button @click="onClickAll">All</el-button>
                                </template>
                            </el-input>
                        </el-form-item>
                        <el-button class="withdrawal-button" @click="onClickWithdraw" icon="el-icon-upload2">
                            Withdraw
                        </el-button>
                    </el-form>
                </el-card>
            </el-col>
        </el-row>
        <el-row class="mt-20">
            <el-col>
                <el-card>
                    <template #header>
                        <div>Transactions history</div>
                    </template>
                    <el-table
                        v-loading="loaders.transactionsHistory"
                        :data='preparedTransactionsHistory'
                        stripe
                    >
                        <el-table-column
                            prop="id"
                            label="id"
                        >
                            <template #default="scope">
                                <span
                                    v-if="scope.row.id !== '-'"
                                    class="cut-text"
                                    @click="copyText(scope.row.id)"
                                >
                                    <span class="cut-text__text">
                                        {{ scope.row.id }}
                                    </span>
                                    <i class="cut-text__icon el-icon-copy-document" />
                                </span>
                                <template v-else>
                                    {{ scope.row.id }}
                                </template>
                            </template>
                        </el-table-column>
                        <el-table-column
                            prop='date'
                            label='Date'
                        />
                        <el-table-column
                            prop="type"
                            label="Type"
                        />
                        <el-table-column
                            prop="status"
                            label="Status"
                        />
                        <el-table-column
                            prop="amount"
                            label="Amount"
                        />
                        <el-table-column
                            prop="fee"
                            label="Fee"
                        />
                        <el-table-column
                            prop="addressTo"
                            label="Address to"
                        >
                            <template #default="scope">
                                <span
                                    v-if="scope.row.addressTo !== '-'"
                                    class="cut-text"
                                    @click="copyText(scope.row.addressTo)"
                                >
                                    <span class="cut-text__text">
                                        {{ scope.row.addressTo }}
                                    </span>
                                    <i class="cut-text__icon el-icon-copy-document" />
                                </span>
                                <template v-else>
                                    {{ scope.row.addressTo }}
                                </template>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination
                        v-if="totalTransactionsCount"
                        class="pagination mt-20"
                        layout="prev, pager, next"
                        :page-size="20"
                        :total="totalTransactionsCount"
                        @current-change="changePage"
                    />
                </el-card>
            </el-col>
        </el-row>
        <el-dialog
            title="Withdraw confirmation"
            v-model="showConfirmation"
            center>
            <div class="address-input">Type your password to confirm your withdraw:</div>
            <el-input placeholder="Type your password" v-model="password" type="password">
            </el-input>
            <template #footer>
                <span class="dialog-footer">
                    <el-button type="primary" @click="onClickOkWithdraw">Confirm</el-button>
                    <el-button @click="onClickCancelWithdraw">Cancel</el-button>
                </span>
            </template>
        </el-dialog>
    </el-container>
</template>

<script>

import moment from 'moment';
import ElLoading from "element-plus/lib/el-loading";
import ElNotification from "element-plus/lib/el-notification";
import BigNumber from 'bignumber.js';

import * as MutationsTypes from '../store/mutations/types';
import * as GettersTypes from '../store/getters/types';
import {mapState} from "vuex";

export default {
    name: "Wallet",
    data() {
        return {
            loaders: {
                transactionsHistory: true,
                userBalance: true
            },
            errors: {
                userBalance: false
            },
            xchAddress: "",
            amount: 0,
            showConfirmation: false,
            password: "",
            transactionsHistory: [],
            totalTransactionsCount: 0
        }
    },
    computed: {
        ...mapState(['currencyId', 'currencyPrice']),
        userBalance() {
            return (Number(this.$store.getters[GettersTypes.GET_BALANCE])).toFixed(16);
        },
        preparedTransactionsHistory() {
            const {
                transactionsHistory,
                getFixedAmount
            } = this;

            return transactionsHistory.map(transaction => {
                const {
                    tx_id,
                    type,
                    status,
                    address_to,
                    amount_from,
                    amount_to,
                    fee,
                    created_at
                } = transaction;
                let id = '-';
                let $type = type;
                let amount = '-';
                let addressTo = '-';

                switch (type) {
                    case 'withdrawal':
                        id = tx_id;
                        amount = amount_from > 100 ? `-${getFixedAmount(amount_from) / 1e12}` : `-${getFixedAmount(amount_from)}`;
                        addressTo = address_to;
                        break;
                    case 'percent_reward':
                        $type = 'reward';
                        amount = `+${getFixedAmount(amount_to)}`;
                        break;
                    case 'deposit':
                        amount = `+${getFixedAmount(amount_to)}`;
                        break;
                }

                const currency = (this.$store.state.currencyId || 'xch').toUpperCase();

                return {
                    id,
                    type: $type,
                    status,
                    amount: `${amount} ${currency}`,
                    fee: `${fee || 0} ${currency}`,
                    addressTo,
                    date: moment(created_at).format('DD/MM/YYYY HH:mm:ss')
                };
            });
        },
        currency() {
            return this.$store.state.currencyId;
        }
    },
    methods:   {
        getFixedAmount (amount) {
            return Number(amount).toFixed(12);
        },
        onClickAll() {
            console.log(10);
            this.amount = new BigNumber(this.userBalance).decimalPlaces(10, BigNumber.ROUND_FLOOR).toNumber();
        },
        onClickWithdraw() {
            this.showConfirmation = true;
            this.password = "";
        },
        onClickCancelWithdraw() {
            this.showConfirmation = false;
        },
        async onClickOkWithdraw() {
            let loading = ElLoading.service({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            try {
                let resp = await this.axios.post('/api/user/make-withdraw', {
                    amount: this.amount,
                    address: this.xchAddress,
                    password: this.password,
                    timestamp: Date.now(),
                    currency: this.currency
                })

                if (resp.data.success) {
                    this.showConfirmation = false;
                    this.amount = 0;
                    this.xchAddress = "";
                    this.password = "";

                    this.$store.commit(MutationsTypes.SET_BALANCE, resp.data.answer.userBalance);

                    ElNotification.success({
                        title: 'Success',
                        message: 'Withdraw has been successfully created and will be processed in 4 hours',
                        type: 'success'
                    });
                } else {
                    ElNotification.error({
                        title: "Error",
                        message: resp.data.answer.error || resp.data.answer
                    });
                }
            } catch(error) {
                console.error(error);
            }

            loading.close();
        },
        fetchUserBalance() {
            this.axios.get(`/api/user/balance/${this.$store.state.currencyId}`)
                .then(resp => {
                    const {
                        data: {
                            success,
                            answer
                        }
                    } = resp;

                    if (success) {
                        this.$store.commit(MutationsTypes.SET_BALANCE, answer.amount);
                    } else {
                        console.error('some error has occured');
                    }
                })
                .catch(error => {
                    console.error(error);
                    this.errors.userBalance = true;
                })
                .finally(() => {
                    this.loaders.userBalance = false;
                });
        },
        getTransactionsHistory(newPage = 1) {
            this.loaders.transactionsHistory = true;
            this.axios.post('/api/user/get-transactions-history', {
                page: newPage,
                currency: this.$store.state.currencyId
            })
                .then(resp => {
                    const {
                        data: {
                            success,
                            error,
                            answer
                        }
                    } = resp;

                    if (!success) {
                        console.error(error);
                        return false;
                    }

                    const { history, totalCount } = answer;

                    this.transactionsHistory = history;
                    this.totalTransactionsCount = totalCount;
                })
                .catch(error => {
                    console.error(error);
                })
                .finally(() => {
                    this.loaders.transactionsHistory = false;
                });
        },
        changePage (newPage) {
            this.getTransactionsHistory(newPage);
        },
        copyText (text) {
            navigator.clipboard.writeText(text)
                .then(() => {
                    ElNotification.success({
                        title: 'Success',
                        message: 'Data was copies'
                    });
                })
                .catch(error => {
                    ElNotification.success({
                        title: 'False',
                        message: 'Data not copied'
                    });
                    console.log(error);
                });
        }
    },
    async mounted() {
        this.fetchUserBalance();
        this.getTransactionsHistory();
    }
}
</script>

<style lang="scss">

    .pagination {
        display: flex;
        justify-content: center;
    }

    .cut-text {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            color: #409EFF;
        }

        &__text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis
        }

        &__icon {
            margin-left: 8px;
        }
    }

</style>

