<template>
    <el-aside class="sidebar">
        <el-menu class="sidebar-menu" style="min-width: 240px;" :router="true" :default-active="$route.path">
            <el-menu-item index="/currencies-setup" class="first">
                <i class="el-icon-money" /> Current coin: <span class="text-uppercase" style="text-transform: uppercase;">{{ currencyId }}</span>
            </el-menu-item>
            <el-menu-item index="/dashboard">
                <i class="el-icon-s-marketing" /> Dashboard
            </el-menu-item>
            <el-menu-item index="/wallet" >
                <i class="el-icon-wallet" /> Wallet
            </el-menu-item>
            <el-menu-item
                class="version-container"
                :class="{ 'selected': needUpdate }"
                :disabled="!needUpdate"
                @click="updateVersion"
            >
                <i class="el-icon-download icon" />
                {{ updateText }}
            </el-menu-item>
            <el-menu-item index="/plotting">
                <i class="el-icon-receiving" /> Plotting
            </el-menu-item>
            <el-menu-item index="/plots-directories">
                <i class="el-icon-folder-add" /> Plots directories
            </el-menu-item>
            <el-menu-item index="/farm">
                <i class="el-icon-box" /> Farming
            </el-menu-item>
            <el-menu-item index="/mnemonics">
                <i class="el-icon-unlock" /> My solo keys
            </el-menu-item>
            <el-menu-item @click="showLogoutModal()">
                <i class="el-icon-user" /> Logout
            </el-menu-item>
            <el-menu-item class="sidebar-version">
                    version: {{ currentVersion }}
            </el-menu-item>
        </el-menu>

        <el-dialog
            v-model="stopPlottingModal"
            title="You have a plotting plots"
            width="40%"
            center
        >
            <div class="warning">
                You have a plotting plots. If you install new version, you lost your plotting process. Stop plotting now and update?
            </div>
            <template #footer>
                <el-button
                    type="primary"
                    plain
                    @click="stopPlotting"
                >
                    Stop plotting
                </el-button>
                <el-button
                    type="info"
                    plain
                    @click="closeStopPlottingModal"
                >
                    Close
                </el-button>
            </template>
        </el-dialog>

        <el-dialog
            v-model="blockUpdate"
            title="Update version"
            width="40%"
            center
        >
            <div class="warning">
                To install a new version, you need to remove the gui and reinstall it using the instruction <a
                href="https://ecopool.group/en/instructions" target="_blank">https://ecopool.group/en/instructions</a>
            </div>
            <template #footer>
                <el-button type="info" plain @click="closeBlockUpdateModal">Close</el-button>
            </template>
        </el-dialog>
        <!--update version modal-->
        <el-dialog
            v-model="updateModal"
            title="Update version"
            width="40%"
            center
        >
            <div class="warning">
                Are you sure you want to update the application?
            </div>
            <template #footer>
                <el-button type="primary" plain @click="updateDevVersion">Update</el-button>
                <el-button type="info" plain @click="closeUpdateModal">Close</el-button>
            </template>
        </el-dialog>
        <!--logout modal-->
        <el-dialog
            v-model="logoutModal"
            title="Logout"
            width="40%"
            center >
            <div class="logout-text">
                Are you sure you want to log out?
            </div>
            <template #footer>
                <el-button type="primary" plain @click="logout">Log out</el-button>
                <el-button type="info" plain @click="closeLogoutModal">Close</el-button>
            </template>
        </el-dialog>

    </el-aside>
</template>

<script>
// vuex
import { mapState } from 'vuex';
// utils & variables
import { ElLoading } from "element-plus";
import packageSrc from '../../../../../package.json';
import ElNotification from "element-plus/lib/el-notification";

export default {
    name: "sidebar",
    data() {
        return {
            blockUpdate: false,
            updateModal: false,
            logoutModal: false,
            stopPlottingModal: false,
            approve: false,
        }
    },
    computed: {
        ...mapState([
            'newVersion',
            'blockVersion',
            "currencyId"
        ]),
        currentVersion () {
            return packageSrc.version;
        },
        needUpdate () {
            const { currentVersion, newVersion } = this;
            return currentVersion !== newVersion;
        },
        updateText () {
            const {
                newVersion,
                currentVersion,
                needUpdate
            } = this;

            return needUpdate
                ? `Update client to: ${newVersion}`
                : `Client version: ${currentVersion}`;
        }
    },
    methods: {
        showStopPlottingModal () {
            this.stopPlottingModal = true;
        },
        closeStopPlottingModal () {
            this.stopPlottingModal = false;
        },
        showBlockUpdateModal () {
            this.blockUpdate = true;
        },
        closeBlockUpdateModal () {
            this.blockUpdate = false;
        },
        // update
        showUpdateModal() {
            this.updateModal = true;
        },
        closeUpdateModal() {
            this.updateModal = false;
        },
        // logout
        showLogoutModal() {
            this.logoutModal = true;
        },
        closeLogoutModal() {
            this.logoutModal = false;
        },

        async logout () {
            ElLoading.service({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            try {
                await this.axios.get('/api/logout');
                window.location.reload();
            } catch(e) {
                window.location.reload();
            }
        },
        stopPlotting () {
            const loading = ElLoading.service({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            this.axios.get('/api/gui/stop-plotting')
                .then(resp => {
                    const { data: { success, error } } = resp;

                    if (!success) {
                        loading.close();
                        ElNotification.error({
                            title: 'Error',
                            message: error.message || 'Failed stop plotting'
                        });
                        console.error(error);
                        return false;
                    }

                    this.axios.get('/api/gui/update')
                        .then(() => {
                            setTimeout(() => {
                                window.location.reload();
                            }, 2000);
                        })
                        .catch(error => {
                            console.error(error);
                        });
                })
                .catch(error => {
                    loading.close();
                    ElNotification.error({
                        title: 'Error',
                        message: error.message || 'Failed stop plotting'
                    });
                    console.error(error);
                });
        },
        updateDevVersion() {
            this.approve = true;
            this.updateVersion();
        },
        async updateVersion () {
            let checkPlottingData;

            try {
                checkPlottingData = await this.axios.get('/api/gui/check-plotting');
            } catch (error) {
                console.error(error);
            }

            if (checkPlottingData.data && checkPlottingData.data.success) {
                this.showStopPlottingModal();
                return false;
            }

            if (this.blockVersion) {
                this.showBlockUpdateModal();
                return false;
            }

            if (!this.approve) {
                this.showUpdateModal();
                return;
            }

            ElLoading.service({
                lock: true,
                text: 'Loading',
                spinner: 'el-icon-loading',
                background: 'rgba(0, 0, 0, 0.7)'
            });

            this.axios.get('/api/gui/update')
                .then(() => {
                    setTimeout(() => {
                        window.location.reload();
                    }, 2000);
                })
                .catch(error => {
                    console.error(error);
                });
        }
    },
}
</script>

<style lang="scss" scoped>

    $selectedColor: #67C23A;

    .selected {
        color: $selectedColor;
        background-color: rgba($selectedColor, 0.2);
        & .icon {
            color: $selectedColor;
        }
    }

    .version-container {
        position: relative;
        .dev-version {
            position: absolute;
            left: 52px;
            bottom: 5px;
            color: $red;
            line-height: 1;
            z-index: 1;
        }
    }
    .warning {
        word-break: break-word;
        text-align: center;
        font-size: 20px;
        line-height: 1.5;
    }
    .logout-text {
        font-size: 20px;
        text-align: center;
    }
</style>
