<template>
    <transition name="fade" mode="out-in">
        <Authorized v-if="isAuth"></Authorized>
        <UnAuthorized v-else></UnAuthorized>
    </transition>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import Authorized from './layouts/Authorized';
import UnAuthorized from './layouts/UnAuthorized';

import * as ActionsTypes from './store/actions/types';
import * as MutationsTypes from './store/mutations/types';

export default {
    name: 'App',
    computed: {
        ...mapState(['isAuth']),
    },
    async mounted() {
        this.$store.dispatch(ActionsTypes.INITIALIZE);
    },
    methods: {
        ...mapMutations([
            MutationsTypes.SET_NEW_VERSION,
            MutationsTypes.SET_BLOCK_VERSION
        ])
    },
    components: {
        Authorized,
        UnAuthorized,
    },
}

</script>
